[Desktop Entry]
Encoding=UTF-8
Name=Link to Viewing modes - Help | WebStormjetbrains.com
Type=Link
URL=https://www.jetbrains.com/help/webstorm/ide-viewing-modes.html
Icon=text-html
